In [2]:
import pandas as pd
import wget

# Studenti

Stáhněte si datové sety, se kterými budeme pracovat v tomto cvičení: jmena.csv, studenti1.csv, studenti2.csv. První set už známe z minulé lekce. Druhé dva sety obsahují seznam studentů na nějaké menší IT fakultě. Proveďte následující úkoly a zodpovězte předložené otázky.

1. Načtěte dva datové sety studentů do oddělených pandas DataFrame a pomocí funkce concat je spojte do jednoho setu.
2. Pokud studentovi chybí ročník, znamená to, že již nestuduje. Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta. Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?
3. Vyčistěte data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.
4. Zjistěte, kolik prezenčních studentů je v každém z oborů.
5. Zjistěte průměrný prospěch studentů v každém oboru.
6. Načtěte datový set s křestními jmény. Proveďte join s tabulkou studentů tak, abychom věděli pohlaví jednotlivých studentů.
7. Zjistěte, zda na naší fakultě studují IT spíše ženy nebo spíše muži.

In [14]:
# wget.download('https://raw.githubusercontent.com/pesikj/progr2-python/master/python-pro-data-1/agregace-a-spojovani/excs/assets/jmena.csv')
# wget.download('https://raw.githubusercontent.com/pesikj/progr2-python/master/python-pro-data-1/agregace-a-spojovani/excs/assets/studenti1.csv')
# wget.download('https://raw.githubusercontent.com/pesikj/progr2-python/master/python-pro-data-1/agregace-a-spojovani/excs/assets/studenti2.csv')

100% [................................................................................] 7011 / 7011

'studenti2.csv'

In [42]:
# 1
stud1 = pd.read_csv('studenti1.csv')
stud2 = pd.read_csv('studenti2.csv')
studenti = pd.concat([stud1, stud2], ignore_index=True)

studenti

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
341    Lukáš          Čech  informatika a management     5.0   NaN      1.59
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
343    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

In [45]:
# 2 
# a) chybi rocnik -> nestuduje
print(len(studenti[studenti['ročník'].isnull()]))

# b) chybi skupina -> dalkovy student
print(len(studenti[studenti.kruh.isnull()]))

33
27

In [49]:
# 3 Vyčistěte data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.

studenti = studenti.dropna(subset=['ročník', 'kruh'])
studenti

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
338    Klára     Valentová         správa IT systémů     1.0  11.0      1.10
339    Pavla     Veverková        počítačová grafika     4.0   6.0      2.98
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[287 rows x 6 columns]

In [51]:
# 4 Zjistěte, kolik prezenčních studentů je v každém z oborů.

studenti.groupby('obor')['kruh'].count()

obor
informatika a management    49
počítačová grafika          33
softwarové inženýrství      41
správa IT systémů           38
teoretická informatika      47
webové inženýrství          46
číslicová technika          33
Name: kruh, dtype: int64

In [53]:
# 5 Zjistěte průměrný prospěch studentů v každém oboru.

studenti.groupby('obor')['prospěch'].mean()

obor
informatika a management    2.088980
počítačová grafika          1.971515
softwarové inženýrství      1.960976
správa IT systémů           1.917632
teoretická informatika      2.136809
webové inženýrství          2.079130
číslicová technika          2.047576
Name: prospěch, dtype: float64

In [54]:
# 6 Načtěte datový set s křestními jmény. Proveďte join s tabulkou studentů tak, abychom věděli pohlaví jednotlivých studentů.
jmena = pd.read_csv('jmena.csv')
spojene = pd.merge(studenti, jmena, how='left', on=['jméno'])
spojene

,jméno,příjmení,obor,ročník,kruh,prospěch,četnost,věk,pohlaví,svátek,původ
0,Ludmila,Šindlerová,informatika a management,4.0,11.0,2.49,72750,65,ž,16.9,slovanský
1,Jan,Pekárek,softwarové inženýrství,1.0,7.0,1.05,293938,40,m,24.6. a 6.7,hebrejský
2,Milan,Weiss,počítačová grafika,5.0,11.0,2.62,107458,51,m,18.6,slovanský
3,Jiřina,Petrová,správa IT systémů,4.0,1.0,1.15,55366,64,ž,15.2,řecký
4,Josef,Navrátil,číslicová technika,5.0,7.0,2.42,211317,57,m,19.3,hebrejský
...,...,...,...,...,...,...,...,...,...,...,...
282,Klára,Valentová,správa IT systémů,1.0,11.0,1.10,39600,22,ž,12.8,latinský
283,Pavla,Veverková,počítačová grafika,4.0,6.0,2.98,41774,43,ž,22.6,latinský
284,Daniel,Brandstätter,informatika a management,4.0,2.0,2.05,60935,23,m,17.12,hebrejský
285,Dagmar,Košanová,teoretická informatika,5.0,10.0,1.34,50646,55,ž,20.12,skandinávský
286,Martina,Turková,softwarové inženýrství,5.0,8.0,1.54,81312,36,ž,17.7,latinský

In [11]:
# 7 Zjistěte, zda na naší fakultě studují IT spíše ženy nebo spíše muži.

In [56]:
spojene.groupby('pohlaví')['jméno'].count()

pohlaví
m    117
ž    170
Name: jméno, dtype: int64